<div>
    <div id="header" style="overflow: hidden">
        <div class="left">
            <div style="padding: 5px;;">
                <span>Filter select:</span>
                <ul class="filterSelect">
                    <li ng-repeat="status in ctrl.status"
                        ng-class="{'active':ctrl.activeFilter===status}"
                        ng-click="ctrl.activeFilter=status">
                        {{status}}
                    </li>
                </ul>
                Showing {{filteredListing.length}} of {{ctrl.data.length}}
            </div>
        </div>
        <div class="left title">
            <span>Micah's MLS Scraper!</span>
        </div>
    </div>
    <div id="pagebody">
        <div class="left fifty">
            <div>
                <record-dir ng-repeat="record in filteredListing=(ctrl.data|filter:({userStatus:ctrl.activeFilter}))"
                            record="record" mapupdate="ctrl.AddMapMarkers()">
                </record-dir>
            </div>
        </div>
        <div class="left fifty">
            <ui-gmap-google-map center='ctrl.map.center' zoom='ctrl.map.zoom'>
                <ui-gmap-window coords="ctrl.mapWindow.coords"
                                show="ctrl.mapWindow.show"
                                closeClick="ctrl.closeClick()">
                    <div style="width: 250px">
                        <div>{{ctrl.mapWindow.record.mls}} - <b>{{ctrl.mapWindow.record.price}}</b></div>
                        <div>{{ctrl.mapWindow.record.address}}</div>
                    </div>
                </ui-gmap-window>
                <ui-gmap-markers models="ctrl.map.markers"
                                 idkey="ctrl.map.markers.id"
                                 coords="'coords'" options="'options'"
                                 click="ctrl.onClick" events="ctrl.map.markers.events" >
                </ui-gmap-markers>
            </ui-gmap-google-map>
            <div>
                <button class="btn btn-info" ng-click="ctrl.refresh()">Reload data</button>
                Data updates on server {{ctrl.cacheAge|fromNow}}
                <div ng-if="ctrl.mapWindow.show">
                    <record-dir record="ctrl.mapWindow.record" mapupdate="ctrl.AddMapMarkers()">
                    </record-dir>
                </div>
            </div>
            <div class="clearFix"></div>
        </div>
        <div class="clearFix"></div>
    </div>
</div>